<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.melting.dao.BoardDAO">

	<insert id="insertBoard" parameterType="Board">
	INSERT INTO m_board
	(
		boardseq, memberid, membername, title, boardtxt
	)
	VALUES
	(
		m_board_seq.NEXTVAL, #{memberid}, #{membername}, #{title}, #{boardtxt}
	)
	</insert>
	
	<select id="getUserInfo" parameterType="String" resultType="Board">
	SELECT 
		boardseq, memberid, membername, title, 
		to_char(regdate, 'YYYY-MM-DD HH24:MI:SS') as regdate
	FROM m_board
	ORDER BY boardseq DESC, regdate DESC
	</select>
</mapper>