<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.melting.dao.CrawlingDAO">
	<insert id="saveCrawlingData" parameterType="Crawling">
        INSERT INTO m_crawling 
        	(title, replycnt, kind, link, membername)
        VALUES 
        	(#{title}, #{replycnt}, #{kind}, #{link}, #{membername})
    </insert>
    
    <delete id="deleteByCreatedAtBefore" parameterType="Date">
        DELETE FROM m_crawling 
        WHERE created_at &lt; #{created_at}
    </delete>
    
</mapper>