<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.melting.dao.CrawlingDAO">

	<insert id="saveCrawlingData" parameterType="Crawling">
		INSERT INTO m_crawling 
        	(crawlingseq, title, replycnt2, kind, link, 
        	membername, likecnt2, site, viewscnt2)
        VALUES 
        	(m_crawling_seq.NEXTVAL, #{title}, #{replycnt2}, #{kind}, #{link}, 
        	#{membername}, #{likecnt2}, #{site}, #{viewscnt2})
	</insert>
	
    <select id="countCrawlingData" parameterType="String" resultType="int">
       SELECT COUNT(*) 
       FROM m_crawling
       WHERE site = #{site}
    </select>
	
 	<delete id="deleteOldData" parameterType="String">
    DELETE FROM m_crawling
	WHERE crawlingseq IN (
	  SELECT crawlingseq
	  FROM (
	    SELECT crawlingseq, ROW_NUMBER() OVER (ORDER BY created_at DESC) AS row_num
	    FROM m_crawling
	    WHERE site = #{site}
	  )
	  WHERE row_num > (SELECT COUNT(*) - 2 FROM m_crawling WHERE site=#{site})
	)
	</delete>
	

</mapper>