<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.melting.dao.CrawlingDAO">

 	<insert id="saveCrawlingData" parameterType="Crawling">
		INSERT INTO m_crawling 
        	(crawlingseq, title, site, kind, replycnt2, membername, link, viewscnt2, likecnt2, regdate)
        VALUES 
        	(m_crawling_seq.NEXTVAL, #{title}, #{site}, #{kind}, #{replycnt2}, #{membername}, #{link}, #{viewscnt2}, #{likecnt2}, #{regdate})
	</insert>

<!--  	<insert id="saveCrawlingData" parameterType="Crawling">
		INSERT INTO m_crawling 
        	(crawlingseq, title, replycnt2, image, kind, membername, link, viewscnt2, likecnt2, site, regdate)
        VALUES 
        	(m_crawling_seq.NEXTVAL, #{title}, #{replycnt2}, #{image}, #{kind}, #{membername}, #{link}, #{viewscnt2}, #{likecnt2}, #{site}, #{regdate})
	</insert> -->
	
    <select id="countCrawlingData" parameterType="String" resultType="int">
       SELECT COUNT(*) 
       FROM m_crawling
       WHERE site = #{site}
    </select>
	
 	<delete id="deleteOldData" parameterType="String">
	    DELETE FROM m_crawling
		WHERE crawlingseq IN (
		  SELECT crawlingseq
		  FROM (
		    SELECT crawlingseq, ROW_NUMBER() OVER (ORDER BY created_at DESC) AS row_num
		    FROM m_crawling
		    WHERE site = #{site}
		  )
		  WHERE row_num > (SELECT COUNT(*) - 10 FROM m_crawling WHERE site=#{site})
		)
	</delete>
	
	<select id="getCrawlingList" resultType="Crawling">
		SELECT *
		FROM m_crawling
	</select>
	
 	<select id="getViewscntSortedList" resultType="Crawling" >
		SELECT *
		FROM m_crawling
		ORDER BY viewscnt2 DESC
	</select>
	
 	<select id="getLikecntSortedList" resultType="Crawling" >
		SELECT *
		FROM m_crawling
		ORDER BY likecnt2 DESC
	</select>
	
 	<select id="getReplycntSortedList" resultType="Crawling" >
		SELECT *
		FROM m_crawling
		ORDER BY replycnt2 DESC
	</select>
	

</mapper>