<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.melting.dao.MemberDAO">
	<insert id="insertMember" parameterType="Member">
		INSERT INTO m_member
		(
			memberid, email, membername, memberpwd
		)
		VALUES
		(
			#{memberid}, #{email}, #{membername}, #{memberpwd}
		)
	</insert>
	
</mapper>