<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Melting | 통합 유머 커뮤니티</title>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div id="container">
		<div></div>
		<div id="left">
			<div class="my">
				<div class="myName">myName</div>
				<div class="myNotice">알림</div>
				<div class="myLike">내가 쓴 댓글</div>
				<div class=""></div>
			</div>
		</div>
		
		<div id="middle">
			<div class="logo"><img src="images/meltingLogo.JPG"></div>
			<div class="write"><a>새로운 글 쓰러 가기</a></div>
			
			<div class="boardType">
				<h2 class="best">BEST</h2>
				<h2 class="new">NEW</h2>
			</div>
			<div class="bestBoard">
				<div class="bestList">
					<div class="category">카테고리</div>
					<div class="title">제목</div>
					<div class="comment">댓글수</div>
					<div class="writer">작성자</div>
					<div class="like">추천수</div>
					<div class="views">조회수</div>
					<div class="regdate">등록일</div>
				</div>
			</div>		
		</div>
		
		<div id="right">
			<div class="search">
				<input type="text" name="searchWord" class="form-control" placeholder=" 검색어를 입력하세요" onkeypress="if( event.keyCode == 13 ){enterKey();}">
			</div>
			<div class="bestSearch">
				<h3>인기검색어</h3>
				<div class="bestSearchList">
					<br>1<br>2<br>3<br>4<br>5<br>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>