<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Melting | 통합 유머 커뮤니티</title>
<link href="../css/board/newlist.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="header">
		<div class="header-area">
			<div class="logo"><a th:href="@{/}"><img src="../images/meltingLogo.JPG"></a></div>
			<div class="menu">
				<div class="hot">HOT</div>
				<h2 class="all">전체</h2>
				<div class="humor">유머</div>
				<div class="sports">스포츠</div>
				<div class="game">게임</div>
			</div>
 			<div class="my">name님</div>				
		</div>
	</div>
	
	<div id="container">
		<div id="left">
			<div class="board">
				<div class="board-array">
					<h3 class="array-views">조회순</h3>
					<h3 class="array-comment">댓글순</h3>
					<h3 class="array-like">추천순</h3>
				</div>
				<div class="boardlist">
<!-- 					<div class="category">카테고리</div>
					<div class="title">제목</div>
					<div class="comment">댓글수</div>
					<div class="writer">작성자</div>
					<div class="like">추천수</div>
					<div class="views">조회수</div>
					<div class="regdate">등록일</div> -->
<!-- 					<ul>
					  <li>
 					  	<span th:text="${board.title}"></span>
					  	<span th:text="${board.membername}"></span>
					  	<div></div>
					  </li>
					  <li> Item two </li>
					</ul> -->
					<table border="1">
						<tr>
							<th>제목</th>
							<th>작성자</th>
							<th>등록일</th>
						</tr>
					
						<tr th:each="board :${list}">
							<td>
							 	<a th:text="${board.title}"></a>
							 </td>
							 <td th:text="${board.membername}"></td>
							<td th:text="${board.regdate}"></td>
						</tr>
					</table>
				</div>
			</div>	
		</div>
		
		<div id="right">
			<div class="write">
				<a th:href="@{/write}">글쓰기</a>
			</div>
			<div class="search">
				<input type="text" name="searchWord" class="form-control" placeholder=" 검색어를 입력하세요" onkeypress="if( event.keyCode == 13 ){enterKey();}">
			</div>
			<div class="bestsearch">
				<h3>인기 검색어</h3>
				<div class="bestsearch-list">
					<br>1<br>2<br>3<br>4<br>5<br>
					6<br>7<br>7<br>8<br>9<br>10<br>
				</div>
			</div>
			<div class="bestkeyword">
				<h3>인기 키워드</h3>
				<div class="bestkeyword-list">
					<br>1<br>2<br>3<br>4<br>5<br>
					6<br>7<br>7<br>8<br>9<br>10<br>
				</div>
			</div>
			
		</div>
	</div>
</body>
</html>