<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmls:sec="http://www.thymelef.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Melting | 통합 유머 커뮤니티</title>
<link rel="stylesheet" type="text/css" href="css/board/write.css">
<link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/webjars/toastui-editor/2.5.2/toastui-editor-viewer.min.css">
<script th:inline="javascript" th:src="@{/script/jquery-3.6.3.min.js}"></script>
<script th:inline="javascript" th:src="@{/script/reply.js}"></script>
<!-- 이미지 미리보기 기능 -->
<script>
  function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function() {
      var imgElement = '<img src="' + reader.result + '" alt="Image" />';
      var previewDiv = document.getElementById('imagePreview');
      previewDiv.innerHTML = imgElement; // 이미지 태그를 삽입하는 대신, <div>에 HTML 코드를 설정합니다.
    };
    reader.readAsDataURL(event.target.files[0]);
  }
</script>
</head>
<body>
	<div id="header">
		<div class="header-area">
			<div class="logo"><a th:href="@{/}"><img src="images/meltingLogo.JPG"></a></div>
			<div class="menu">
				<h2 class="best">BEST</h2>
				<h2 class="new">NEW</h2>
				<h2 class="m">M</h2>
			</div>
 			<div class="my">
 				<div class="myid" sec:authorize="isAuthenticated()"><a th:href="@{/mypage}" th:text="${membername} + '님'"></a></div>
 				<div class="myid" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></div>
			</div>				
		</div>
	</div>
	
	<div id="container">
		<div class="write-name"><h1>게시글 작성하기</h1></div>
		<div class="write-area">
			<form th:action="@{/write}" id="uploadForm" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="memberid" th:value="${#authentication.name}" readonly>
				<table border="1">
					<tr>
						<th>파일첨부하기</th>
						<td><input type="file" name="upload" onchange="previewImage(event)"></td>
					</tr>
					<tr>
						<th>카테고리</th>
						<td>
							<select name="kind">
							    <option value="free" selected>자유게시판</option>
							    <option value="humor">유머게시판</option>
							    <option value="sports">스포츠게시판</option>
							    <option value="game">게임게시판</option>
							 </select>		
						</td>
					
					</tr>
					<tr>
						<th>제목</th>
						<td style="width:250px;"><input type="text" name="title" required></td>
					</tr>
					<tr>
						<th>내용</th>
						<td>
					      <div>
					        <textarea name="boardtxt" id="boardtxt" required rows="7" cols="80"></textarea>
					      </div>
					      <div id="imagePreview"></div>
					    </td>
					<tr>
						<th colspan="2">
							<input type="submit" value="등록">
						</th>
					</tr>
				</table>
			</form>
		</div>
		
	</div>
	
	<script src="/webjars/toastui-editor/2.5.2/toastui-editor-all.min.js"></script>
    <script>
        $(function() {
            var editor = new toastui.Editor({
                el: document.querySelector("#editor"),
                initialEditType: "markdown",
                previewStyle: "vertical",
                height: "300px"
            });

            // 게시글 내용을 hidden 필드에 설정하여 전송
            $("form").submit(function() {
                var markdownContent = editor.getMarkdown();
                $("#boardtxt").val(markdownContent);
            });
        });
    </script>
</body>
</html>