@charset "UTF-8";
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  user-select: none;
  font-family:'Pretendard-Regular';
}

#container {
    width: 1300px;
    position:relative;
    margin: 15px auto 0;
    display:flex;
}

#left {
	width:300px;
	height:100%;
	float:left;
	/* background-color:skyblue; */
    padding-left: 80px;

}

.my {
	margin-top:100px;
	font-size: 24px;
}

.myName {
	font-size: 24px;
}

.mymyNotice {
	font-size: 18px;
}

#middle {
	width:730px;
	height:100%;
	float:left;
	/* background-color:pink; */
	
}

.logo {
	height:80px;
	border-bottom: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

.logo img {
	width:200px;
}

.write {
	margin-bottom:20px;
	border-bottom: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	padding: 2px 2px 2px 2px;
	height:60px;
	font-size:25px;
	
}

.boardType {
	position:relative;
}

.best {
	font-size:28px;
	float:left;
	color:red;
	width: 80px;
}

.new {
	font-size:28px;
	margin-left:5px;
	color:black;
	
}

.bestList {
	width:720px;
	border:1px solid lightgray;
}

.bestList .category {
	width:30px;
	background-color:red;
	float:left;
}

.bestList .title {
	width:200px;
	background-color:yellow;
	float:left;
}

.bestList .comment {
	width:30px;
	background-color:aqua;
	float:left;
}

.bestList .writer {
	width:70px;
	background-color:orange;
	float:left;
}

.bestList .like {
	width:30px;
	background-color:blue;
	float:left;
}

.bestList .views {
	width:30px;
	background-color:red;
	float:left;
}

.bestList .regdate {
	width:80px;
	background-color:yellow;
	float:left;
}


#right {
	width:300px;
	height:100%;
	float:right;
	margin-right:0px;
	/* background-color:yellow; */

}


.search{
	height:112px;
}

.form-control {
	width:260px;
	height: 40px;
	margin-top: 72px;
	margin-left:20px;
	background-color:lightgray;
	color:gray;
}

.bestSearch {
	margin-top:17px;
	margin-left:20px;
	border:1px solid gray;
	width:260px;
	background-color:lightgray;
}

