<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 	<h1>내가 쓴 글 확인하기</h1>
 	<table border="1">
 		<tr>
 			<th>카테고리</th>
			<th>제목</th>
			<th>작성자</th>
			<th>조회수</th>
			<th>등록일</th>
 		</tr>
 		
 		<tr th:each="board : ${list}">
 			<td>
 				<span th:if="${board.kind=='free'}">자유</span>
				<span th:if="${board.kind=='humor'}">유머</span>
				<span th:if="${board.kind=='sports'}">스포츠</span>
				<span th:if="${board.kind=='game'}">게임</span>
 			</td>
 			<td>
 				<a th:text="${board.title}"></a>
 			</td>
 			<td th:text="${board.membername}"></td>
		 	<td th:text="${board.viewscnt}"></td>
			<td th:text="${board.regdate}"></td>
 		</tr>
 	</table>
</body>
</html>