<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Melting | 통합 유머 커뮤니티</title>
</head>
<body>
	<h2>[ 회원 가입 ]</h2>
	<form th:action="@{/join}" method="POST">
	<table border="1">
		<tr>
			<th>ID</th>
			<td><input type="text" name="memberid"></td>
		</tr>
		<tr>
			<th>비밀번호</th>
			<td><input type="text" name="memberpwd"></td>
		</tr>
		<tr>
			<th>닉네임</th>
			<td><input type="text" name="membername"></td>
		</tr>
		<tr>
			<th>이메일</th>
			<td><input type="text" name="email"></td>
		</tr>
		<tr>
			<td><input type="submit" value="가입하기"></td>
		</tr>
		
	</table>
		
	</form>
</body>
</html>